@charset "UTF-8";

.img-home {
	max-width: 100px;
	width: 100%;
}

.banner {
	position: relative;
	/* border: 1px solid red; */
}

.border-radius-bottom-125 {
	border-bottom-right-radius: 1.25rem;
	border-bottom-left-radius: 1.25rem;
}
